body {
    width: 100%;
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 75px 1fr;
}

nav {
    background-color: #3084B4;
}

.busca {
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: space-around;
    background-color: aqua;
}

.busca a {
    background-color: #3084B4;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 1.25rem;
    line-height: 1.5rem;
    text-align: center;
}

.busca :hover {
    background-color: #074A71;
}

#root {
    height: 100%;
}

.container {
    width: 100%;
    height: 100%;
    padding: 5vw 8.4vh;
}

.container-materia {
    background-color: #eeee;
}

.container-areaAluno {
    background-color: #eeee;
    display: flex;
    flex-direction: column;
    gap: 7.2vh;
}

.container-horario {
    background-color: #eeee;
    display: flex;
    flex-direction: column;
}

.container-relatorio {
    background-color: #eeee;
}

/* AREA DO ALUNO */
.container_topo {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 2rem;
    line-height: 2.5rem;
    display: flex;
    flex-direction: column;
    gap: 2vh;
}

.container_topo p {
    color: #074A71;
}

.linha {
    background-color: #3084B4;
    width: 100%;
    height: 2px;
}

.cards_turma {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    place-items: center;
    grid-gap: 46px;
}

.card {
    width: 400px;
    height: 350px;
    background: #D9D9D9;
    border: 1px solid #3084B4;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
    cursor: pointer;
}

.card img {
    width: 55%;
    height: 60%;
}

.card p {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 2rem;
    line-height: 2.5rem;
}




/* HORARIO */

.nome_buttons {
    display: flex;
    justify-content: space-between;
}

.adicionar_editar_deletar{
    display: flex;
    gap: 2%;
}

.adicionar_editar_deletar button {
    color: white;
    background-color: #3084B4;
    padding: 10px;
    border-radius: 50%;
    border: 0;
    cursor: pointer;
    font-size: clamp(0.8125rem, -0.0469rem + 2.75vw, 1.5rem);
}

.horarios {
    display: flex;
    justify-content: space-between;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: clamp(0.8125rem, -0.0469rem + 2.75vw, 1.5rem);
    line-height: 29px;
    color: rgba(0, 0, 0, 0.5);
    padding: 1% 0% 1% 0%;
    border-bottom: 2px solid rgba(48, 132, 180, 0.5);
}

.dados {
    display: flex;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
    transition: .4s ease-in-out;
    padding: 20px 10px;
    border-bottom: 2px solid rgba(48, 132, 180, 0.5);
}

.data {
    padding-left: 5px;
    display: flex;
    flex-direction: column;
}

/* .inicio {
    padding-left: 10vw;
}

.termino {
    padding-left: 11vw;
}

.desconto {
    padding-left: 13vw;
}

.liquido {
    padding-left: 12vw;
}

.total_geral {
    padding-left: 15vw;
} */



#label_calendar{
    z-index: 1;
}
label{
    cursor: pointer;
}

.date_input{
    opacity: 0;
    width: 3px;
    height:3px;
}


.time_input_inicio, .time_input_termino, .time_input_desconto{
    opacity: 0;
    width: 3px;
    height: 3px;
}

 .termino, .desconto{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: clamp(0.8125rem, -0.0469rem + 2.75vw, 1.5rem);
}

.inicio{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: clamp(0.8125rem, -0.0469rem + 2.75vw, 1.5rem);
}
.dados{
    display: flex;
    justify-content: space-between;
    font-size: clamp(0.8125rem, -0.0469rem + 2.75vw, 1.5rem);
}
/* .time_input_termino, .time_input_desconto{
    margin-right: 20px;
} */
.dados:hover{
    background-color: #ffff;
}

.data{
    display: flex;
    align-items: center;
}



.d-none{
    display: none;
}

.d-flex{
    display: flex;
}

.d-flex-column-edit{
    display: flex;
    flex-direction: column;
    height: auto;
    width: 30vw;
    margin-top: 10vh;
    gap: 5vh;
}

.dados_botoes{

    gap: 4px;
    position: absolute;
    float: left;
    right: 0;
}

.dados_botoes button{
        color: white;
        background-color: #3084B4;
        padding: 10px;
        border-radius: 50%;
        border: 0;
        cursor: pointer;
        font-size: clamp(0.8125rem, -0.0469rem + 2.75vw, 1.5rem);
}


.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    z-index: -1;
  }


  .modalContent {
    width: 40%;
    /* max-width: 600px;
    margin: 38vh auto;
    padding: 20px; */
    z-index: 0; 
    background-color: #3084B4;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    opacity: .9;
    color: #ffff;

    padding-left: 4vw;
    padding-top: 2vh;
  }

  .editH2{
    margin-top: 10vh;
  }
  .buttonBack{
    background-color: #DA251C;
    border: 1px transparent;
    border-radius: 20px;
    opacity: .9;
    padding: 20px;
    display: grid;
    place-content: center;
    cursor: pointer;
    transition: shadow .2s;
}
  .buttonBack i{

        color: #FFFF;
        font-size: 1rem;
    
}

.divEdit{
    display: flex;
    justify-content: space-between;
    width: 33vw;
}

.botaoEditarSave{
   padding: 2%;
   width: 40%;
   margin-left: 10vw;
   margin-top: 10vh;
   cursor: pointer;
}

.botaoEditarSave i{
   font-size: 1rem;
   text-transform: lowercase;
   color: #666666;
}

@media (max-width: 999px) {

    /* AREA DO ALUNO */
    .busca {
        width: 100%;
    }

    .cards_turma {
        grid-template-columns: repeat(1, 1fr);
    }

}

@media (max-width: 640px) {

    /* AREA DO ALUNO */
    .busca a {
        font-size: 1rem;
    }

    .container_topo {
        text-align: center;
    }

    .container {
        padding: 5vw 20px;
    }

    .card {
        width: 270px;
        height: 270px;
    }
    .modalContent {
        width: 100%;
      }

      .divEdit{
        width: 90vw;
    }

    .botaoEditarSave{
        margin-left: 38vw;
     }
}
