body {
    width: 100%;
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 75px 1fr;
}

nav {
    background-color: #3084B4;
}

.busca {
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: space-around;
    background-color: aqua;
}

.busca a {
    background-color: #3084B4;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 1.25rem;
    line-height: 1.5rem;
    text-align: center;
}

.busca :hover {
    background-color: #074A71;
}

#root {
    height: 100%;
}

.container {
    width: 100%;
    height: 100%;
    padding: 5vw 8.4vh;
}

.container-materia {
    background-color: #eeee;
}

.container-areaAluno {
    background-color: #eeee;
    display: flex;
    flex-direction: column;
    gap: 7.2vh;
}

.container-horario {
    background-color: #eeee;
    display: flex;
    flex-direction: column;
}

.container-relatorio {
    background-color: #eeee;
}

/* AREA DO ALUNO */
.container_topo {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 2rem;
    line-height: 2.5rem;
    display: flex;
    flex-direction: column;
    gap: 2vh;
}

.container_topo p {
    color: #074A71;
}

.linha {
    background-color: #3084B4;
    width: 100%;
    height: 2px;
}

.cards_turma {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    place-items: center;
    grid-gap: 46px;
}

.card {
    width: 350px;
    height: 350px;
    background: #D9D9D9;
    border: 1px solid #3084B4;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

.card img {
    width: 55%;
    height: 60%;
}

.card p {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 2rem;
    line-height: 2.5rem;
}




/* HORARIO */

.nome_buttons {
    display: flex;
    justify-content: space-between;
}

.adicionar_editar_deletar {
    display: flex;
    gap: 2%;
}

.adicionar_editar_deletar button {
    color: white;
    background-color: #3084B4;
    padding: 10px;
    border-radius: 50%;
    border: 0;
    cursor: pointer;
    font-size: clamp(0.8125rem, -0.0469rem + 2.75vw, 1.5rem);
}

.horarios {
    display: flex;
    justify-content: space-between;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: clamp(0.8125rem, -0.0469rem + 2.75vw, 1.5rem);
    line-height: 29px;
    color: rgba(0, 0, 0, 0.5);
    padding: 1% 0% 1% 0%;
    border-bottom: 2px solid rgba(48, 132, 180, 0.5);
}

.dados {
    display: flex;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
    transition: .4s ease-in-out;
    padding: 20px 10px;
    border-bottom: 2px solid rgba(48, 132, 180, 0.5);
}

.data {
    padding-left: 5px;
    display: flex;
    flex-direction: column;
}

/* .inicio {
    padding-left: 10vw;
}

.termino {
    padding-left: 11vw;
}

.desconto {
    padding-left: 13vw;
}

.liquido {
    padding-left: 12vw;
}

.total_geral {
    padding-left: 15vw;
} */



#label_calendar {
    z-index: 1;
}

label {
    cursor: pointer;
}

.date_input {
    opacity: 0;
    width: 3px;
    height: 3px;
}


.time_input_inicio,
.time_input_termino,
.time_input_desconto {
    opacity: 0;
    width: 3px;
    height: 3px;
}

.termino,
.desconto {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: clamp(0.8125rem, -0.0469rem + 2.75vw, 1.5rem);
}

.inicio {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: clamp(0.8125rem, -0.0469rem + 2.75vw, 1.5rem);
}

.dados {
    display: flex;
    justify-content: space-between;
    font-size: clamp(0.8125rem, -0.0469rem + 2.75vw, 1.5rem);
}

/* .time_input_termino, .time_input_desconto{
    margin-right: 20px;
} */
.dados:hover {
    background-color: #ffff;
}

.data {
    display: flex;
    align-items: center;
}



.d-none {
    display: none;
}

.d-flex {
    display: flex;
}

.d-flex-column-edit {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 30vw;
    margin-top: 5vh;
    gap: 5vh;
}

.dados_botoes {

    gap: 4px;
    position: absolute;
    float: left;
    right: 0;
}

.dados_botoes button {
    color: white;
    background-color: #3084B4;
    padding: 10px;
    border-radius: 50%;
    border: 0;
    cursor: pointer;
    font-size: clamp(0.8125rem, -0.0469rem + 2.75vw, 1.5rem);
}


.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    z-index: -1;
}


.modalContent {
    width: 40%;
    /* max-width: 600px;
    margin: 38vh auto;
    padding: 20px; */
    z-index: 1;
    background-color: #3084B4;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    opacity: .8;
    color: #ffff;

    padding-left: 4vw;
    padding-top: 1vh;
}

.editH2 {
    margin-top: 8vh;
}

.buttonBack {
    background-color: #DA251C;
    border: 1px transparent;
    border-radius: 20px;
    opacity: .9;
    padding: 20px;
    display: grid;
    place-content: center;
    cursor: pointer;
    transition: shadow .2s;
}

.buttonBack i {

    color: #FFFF;
    font-size: 1rem;

}

.divEdit {
    display: flex;
    justify-content: space-between;
    width: 33vw;
}

.botaoEditarSave {
    padding: 2%;
    width: 40%;
    margin-left: 10vw;
    margin-top: 10vh;
    cursor: pointer;
}

.botaoEditarSave i {
    font-size: 1rem;
    text-transform: lowercase;
    color: #666666;
}

.descricaoCriterio {
    font-size: clamp(0.6rem, 0.1rem + 1.6vw, 1rem);
}

.criteriosDados {
    color: black;
}

.containerInput {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.my-checkbox {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 28px;
    width: 28px;
    background-color: white;
    border: 2px solid black;
    border-radius: 2px;
}


.containerInput input:checked~.checkmark {
    background-color: black;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.containerInput input:checked~.checkmark:after {
    display: block;
}


.containerInput .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.desejadoContainer {
    display: flex;
    gap: 10%;
}

.margemErroContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-size: 10px;
    padding-bottom: 4px;
}

.margemErroContainer span {
    height: 15px;
}

.criterio-button {
    position: absolute;
    float: left;
    right: 42;
    display: none;
}

.dados:hover {
    width: 100%;
}

.dados:hover .dados_botoes2 {
    display: flex;
}

.dados:hover .criterio-button {
    display: flex;
}

.criterios {
    display: flex;
    justify-content: space-between;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: clamp(0.6rem, -0.525rem + 3.6vw, 1.5rem);
    line-height: 29px;
    color: rgba(0, 0, 0, 0.5);
    padding: 1% 0% 1% 0%;
    border-bottom: 2px solid rgba(48, 132, 180, 0.5);
}

.contentEditRelatorio {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30vw;
}

.cardLink{
    width: 350px;
    height: 350px;
    position: absolute;
    z-index: 1;
    background-color: transparent;
}
.card p{
    text-align: center;
    z-index: 0;
}
.card img{
    z-index: 0;
}
.contentShowDesc {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 3vh;
    gap: 3vh;
}

.textDesc {
    resize: none;
    width: 100%;
    background-color: white;
    font-size: 1rem;
    padding-top: 1%;
    padding-left: 1%;
    border: 1px solid transparent;
    border-radius: 8px;
    color: black;
}

.showH3 {
    font-size: 1rem;
}

.showDesejadoContainer {
    display: flex;
    gap: 2vw;
}

.avaliacaoObtidoContainer {
    width: 35vw;
    gap: 4vw;
    display: flex;
}

.avaliacaoContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2vw;
}

.obtidoContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2vw;
}

.textDesc {
    height: auto;
    padding-top: 1%;
    padding-bottom: 5%;
}

.desejaEnviar {
    height: auto;
    padding: 10px;
    border-radius: 8px;
    flex-direction: column;
    gap: 1vh;
    align-items: center;
    background-color: #074A71;
}

.desejaEnviarButtons {
    display: flex;
    align-items: center;
    width: auto;
    gap: 2vw;
}
.linkHorario{
    position: absolute;
    margin-right: 4vw;
    right: 0;
    font-size: clamp(1.3125rem, -0.0569rem + 2.95vw, 1.9rem);

}
.desejaEnviarButtons button {
    padding: 0px 20px 0px 20px;
    cursor: pointer;

}

@media (max-width: 999px) {

    /* AREA DO ALUNO */
    .busca {
        width: 100%;
    }

    .cards_turma {
        grid-template-columns: repeat(1, 1fr);
    }

}

body {
    overflow-y: auto;
}

body::-webkit-scrollbar {
    width: 10px;
}

body::-webkit-scrollbar-track {
    background: #3084B4;
}

body::-webkit-scrollbar-thumb {
    background: #074A71;
}

body::-webkit-scrollbar-thumb:hover {
    background: #074A71;
}

@media (max-width: 640px) {

    /* AREA DO ALUNO */
    .busca a {
        font-size: 1rem;
    }

    .container_topo {
        text-align: center;
    }

    .container {
        padding: 5vw 20px;
    }

    .card {
        width: 270px;
        height: 270px;
    }

    .modalContent {
        width: 100%;
    }

    .divEdit {
        width: 90vw;
    }

    .desejaEnviar {
        margin-left: 20vw;
        width: 50vw;
    }

    .botaoEditarSave {
        margin-left: 38vw;
    }

    .checkmark {
        height: 20px;
        width: 20px;
    }

    .containerInput .checkmark:after {
        left: 5px;
        top: 0px;
        width: 4px;
        height: 10px;
    }

    .criterio-button {
        right: 5;
    }

    .contentEditRelatorio {
        width: 90vw;
    }

    .textDesc {
        padding: 2%;
    }
}