.header_links button{
    display: none;
}

main{
    justify-content: center;
    align-items: center;
    gap: 4vh;
}

h2{
    font-weight: 500;
    font-size: 1.7rem;
}

.main_content_container{
    align-items: center;
    gap: 2vh;
    width: 40vw;
    padding: 4vh 0;
    background-color: #C4D9E5;
    border-radius: 22px;
}
.main_content_container img{
    width: 65%;
}

.main_content_container span{
    font-weight: 500;
    font-size: clamp(1rem, 0.25rem + 2.4vw, 1.6rem);
    width: 85%;
    text-align: center;
}